
@{
    Layout = "_Layout1";
    ViewData["Title"] = "Home Page";
    string[] sizes = {"200x200", "300x300", "400x400", "500x500", "600x600","700x700","800x800"};
}

<h1>@ViewData["Title"]</h1>
<br />

@using (Html.BeginForm("Index", "Map"))
{
    <label>Chose the size of map:</label>
    <select name="sizeId">
        @for (int i = 0; i < sizes.Length; ++i)
        {
            <option value="@i">@sizes[i]</option>
        }
    </select>
    <select name="lenOfPix">
        @for (int i = 1; i <= 5; ++i)
        {
            <option value="@(i)">@(i)px</option>
        }
    </select>
    
    <input class="form-submit-button" type="submit" value="Submit"/>
}

