
@{
    Layout = "_Layout1";
    ViewData["Title"] = "Home Page";
    string[] sizes = {"200x200", "300x300", "400x400", "500x500", "600x600","700x700","800x800"};
    const int length = 5;
}

<h1>@ViewData["Title"]</h1>
<br />

@using (Html.BeginForm("Index", "Map"))
{
    <label>Chose the size of map:</label>
    <select name="sizeId">
        @for (int i = 0; i < sizes.Length; ++i)
        {
            <option value="@i">@sizes[i]</option>
        }
    </select>
  
    <select name="lenOfPix">
            
        @for (int i = 1; i <= length; ++i)
        {
            <option value="@(i)">@(i)px</option>
        }

    </select>
   
    <p>  
        <span>Create Rivers: </span>
        @Html.CheckBox("hasRiver", false)
        <span>Create Castles: </span>
        @Html.CheckBox("hasCastles", false)
        <span>Create Particles: </span>
        @Html.CheckBox("hasParticles", false)
    </p>
    
    <input class="form-submit-button" type="submit" value="Submit"/>
}

