@using CourseWork.Map
@{
    var map = new MapBuilder(200, 200,5, new bool?[]{true,true,true});
    ViewData["Title"] = "Map";
}
<script src="js/site.js"></script>
@{
    int startx = 10;
    int starty = 10;
    int newwidth = map.Width * 11;
    int newhight = map.Height * 11;
    const int border = 20;
    int anothery = map.Width * map.LenOfPixel + border;
    int anotherx = map.Height * map.LenOfPixel + border;
    for (int x = 0; x < map.Width; x++)
    {
        for (int y = 0; y < map.Height; y++)
        {
            <script>functionarr.push(() => drawRect(@startx,@starty,@map.Tiles[x, y].Biome.Color.Red,
                                 @map.Tiles[x, y].Biome.Color.Green,
                                 @map.Tiles[x, y].Biome.Color.Blue,@map.LenOfPixel))
                    functionarr.push(() => drawRect(@startx,@(anothery + starty),@map.Tiles[x, y].Heat.Color.Red,
                                 @map.Tiles[x, y].Heat.Color.Green,
                                 @map.Tiles[x, y].Heat.Color.Blue, @map.LenOfPixel))
                    functionarr.push(() => drawRect(@(startx + anotherx),@starty,@map.Tiles[x, y].Moisture.Color.Red,
                                 @map.Tiles[x, y].Moisture.Color.Green,
                                 @map.Tiles[x, y].Moisture.Color.Blue, @map.LenOfPixel))
                                 
            </script>
            startx += map.LenOfPixel;
        }
        startx = 10;
        starty += map.LenOfPixel;
    }
}
<body onload="drawmap()">
<canvas id="tutorial" width="@newwidth" height="@newhight"></canvas>
</body>