 
@{
    Layout = "_Layout2";
ViewData["Title"] = "Height Map";
    ViewBag.Num = 0;
}

@{
    int startx = 10;
    int starty = 10;
    int newwidth = ViewBag.Map.Width*ViewBag.Map.LenOfPixel+startx*ViewBag.Map.LenOfPixel;
    int newhight = ViewBag.Map.Height*ViewBag.Map.LenOfPixel+startx*ViewBag.Map.LenOfPixel;
    for (int x = 0; x < ViewBag.Map.Width; x++)
    {
        for (int y = 0; y < ViewBag.Map.Height; y++)
        {
            <script>
            functionarr.push(() => drawRect(@startx,@starty,@ViewBag.Map.Tiles[x, y].Biome._Color.Red,
                                                            @ViewBag.Map.Tiles[x, y].Biome._Color.Green,
                                                            @ViewBag.Map.Tiles[x, y].Biome._Color.Blue,
                                                            @ViewBag.Map.LenOfPixel,0))
            </script>
            startx += ViewBag.Map.LenOfPixel;
        }
        startx = 10;
        starty += ViewBag.Map.LenOfPixel;
    }
}
<body>
<canvas id="canvas1" width="@newwidth" height="@newhight"></canvas>
    @Html.ActionLink("Prev", "Three", "Map")
    @Html.ActionLink("Restart", "Index", "Map")
    @Html.ActionLink("Next", "Two", "Map")
<button onclick="saveCanvasAsImageFile(0,`Height Map`)">
Download
</button>
</body>