
@{
    Layout = "_Layout2";
    ViewData["Title"] = "Moisture Map";
    ViewBag.Num = 2;
}
@{
    int startX = 10;
    int startY = 10;
    int newWidth = ViewBag.Map.Width*ViewBag.Map.LenOfPixel+startX*ViewBag.Map.LenOfPixel;
    int newHeight = ViewBag.Map.Height*ViewBag.Map.LenOfPixel+startX*ViewBag.Map.LenOfPixel;
    for (int x = 0; x < ViewBag.Map.Width; x++)
    {
        for (int y = 0; y < ViewBag.Map.Height; y++)
        {
            <script>
            functionArr.push(() => drawRect(@startX,@startY,@ViewBag.Map.Tiles[x, y].Moisture.Color.Red,
                                                            @ViewBag.Map.Tiles[x, y].Moisture.Color.Green,
                                                            @ViewBag.Map.Tiles[x, y].Moisture.Color.Blue,
                                                            @ViewBag.Map.LenOfPixel,2))
            </script>
            startX += ViewBag.Map.LenOfPixel;
        }
        startX = 10;
        startY += ViewBag.Map.LenOfPixel;
    }



}

<body>
<canvas id="canvas3" width="@newWidth" height="@newHeight"></canvas>
    @Html.ActionLink("Prev", "Two", "Map")
    @Html.ActionLink("Restart", "Index", "Map")
    @Html.ActionLink("Next", "One", "Map")
<button onclick="saveCanvasAsImageFile(2,`Moisture Map`)">
Download
</button>
</body>