
@{
    Layout = "_Layout2";
    ViewData["Title"] = "Moisture Map";
    ViewBag.Num = 2;
}
@{
    int startx = 10;
    int starty = 10;
    int newwidth = ViewBag.Map.Width*ViewBag.Map.LenOfPixel+startx*ViewBag.Map.LenOfPixel;
    int newhight = ViewBag.Map.Height*ViewBag.Map.LenOfPixel+startx*ViewBag.Map.LenOfPixel;
    for (int x = 0; x < ViewBag.Map.Width; x++)
    {
        for (int y = 0; y < ViewBag.Map.Height; y++)
        {
            <script>
            functionarr.push(() => drawRect(@startx,@starty,@ViewBag.Map.Tiles[x, y].Moisture.Color.Red,
                                                            @ViewBag.Map.Tiles[x, y].Moisture.Color.Green,
                                                            @ViewBag.Map.Tiles[x, y].Moisture.Color.Blue,
                                                            @ViewBag.Map.LenOfPixel,2))
            </script>
            startx += ViewBag.Map.LenOfPixel;
        }
        startx = 10;
        starty += ViewBag.Map.LenOfPixel;
    }



}

<body>
<canvas id="canvas3" width="@newwidth" height="@newhight"></canvas>
    @Html.ActionLink("Prev", "Two", "Map")
    @Html.ActionLink("Restart", "Index", "Map")
    @Html.ActionLink("Next", "One", "Map")
<button onclick="saveCanvasAsImageFile(2,`Moisture Map`)">
Download
</button>
</body>