
@{
    Layout = "_Layout2";
    ViewData["Title"] = "Heat Map";

}

@{
    int startx = 10;
    int starty = 10;
    int newwidth = ViewBag.Map.Width*ViewBag.Map.LenofPixel+startx*ViewBag.Map.LenofPixel;
    int newhight = ViewBag.Map.Height*ViewBag.Map.LenofPixel+startx*ViewBag.Map.LenofPixel;
    for (int x = 0; x < ViewBag.Map.Width; x++)
    {
        for (int y = 0; y < ViewBag.Map.Height; y++)
        {
            <script>
           
            functionarr.push(() => drawRect(@startx,@starty,@ViewBag.Map.Tiles[x, y].Heat._Color.Red,
                                                            @ViewBag.Map.Tiles[x, y].Heat._Color.Green,
                                                            @ViewBag.Map.Tiles[x, y].Heat._Color.Blue,
                                                            @ViewBag.Map.LenofPixel,1))
            </script>
            startx += ViewBag.Map.LenofPixel;
        }
        startx = 10;
        starty += ViewBag.Map.LenofPixel;
    }



}

<body>
<canvas id="canvas2" width="@newwidth" height="@newhight"></canvas>
   @Html.ActionLink("Prev", "One", "Map")
   @Html.ActionLink("End", "Finish", "Map")
   @Html.ActionLink("Next", "Three", "Map")

</body>