
@{
    Layout = "_Layout2";
    ViewData["Title"] = "Heat Map";
    ViewBag.Num = 1;
}

@{
    int startX = 10;
    int startY = 10;
    int newWidth = ViewBag.Map.Width*ViewBag.Map.LenOfPixel+startX*ViewBag.Map.LenOfPixel;
    int newHeight = ViewBag.Map.Height*ViewBag.Map.LenOfPixel+startX*ViewBag.Map.LenOfPixel;
    for (int x = 0; x < ViewBag.Map.Width; x++)
    {
        for (int y = 0; y < ViewBag.Map.Height; y++)
        {
            <script>
           
            functionArr.push(() => drawRect(@startX,@startY,@ViewBag.Map.Tiles[x, y].Heat.Color.Red,
                                                            @ViewBag.Map.Tiles[x, y].Heat.Color.Green,
                                                            @ViewBag.Map.Tiles[x, y].Heat.Color.Blue,
                                                            @ViewBag.Map.LenOfPixel,1))
            </script>
            startX += ViewBag.Map.LenOfPixel;
        }
        startX = 10;
        startY += ViewBag.Map.LenOfPixel;
    }



}

<body>
<canvas id="canvas2" width="@newWidth" height="@newHeight"></canvas>
   @Html.ActionLink("Prev", "One", "Map")
   @Html.ActionLink("Restart", "Index", "Map")
   @Html.ActionLink("Next", "Three", "Map")
  <button onclick="saveCanvasAsImageFile(1,`Heat Map`)">
  Download
  </button>
</body>