@using CourseWork.Map
@{
    var map = new MapBuilder(500, 500);
    ViewData["Title"] = "Home Page";
}
<script src="js/site.js"></script>
@{
    int startx = 10;
    int starty = 10;
    int newwidth = map.Width * 11;
    int newhight = map.Height * 11;
    int lenofpix = 1; 
    int border = 20;
    int anothery = map.Width * lenofpix + border;
    for (int x = 0; x < map.Width; x++)
    {
        for (int y = 0; y < map.Height; y++)
        {
            <script>functionarr.push(() => drawRect(@startx,@starty,@map.Tiles[x, y].Biome._Color.Red,
                                 @map.Tiles[x, y].Biome._Color.Green,
                                 @map.Tiles[x, y].Biome._Color.Blue,@lenofpix))
                    functionarr.push(() => drawRect(@startx,@(anothery + starty),@map.Tiles[x, y].Heat._Color.Red,
                                 @map.Tiles[x, y].Heat._Color.Green,
                                 @map.Tiles[x, y].Heat._Color.Blue, @lenofpix))
            </script>
            startx += lenofpix;
        }
        startx = 10;
        starty += lenofpix;
    }
}
<body onload="drawmap()">
<canvas id="canvas" width="@newwidth" height="@newhight"></canvas>
</body>